<template>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-3 mt-3">
                
                <div class="card-body">
                        <h1>Panel de administrador</h1>
                            <router-link class="btn btn-primary" :to="{name: 'pre_pedido'}" >Ir a Pedidos</router-link>
                            <router-link class="btn btn-primary" :to="{name: 'pre_pedido'}" >Ir a Pagprincipal</router-link>
                        <legend>Agregar Productos</legend>
                        <form @submit.prevent = " guardarProducto(form)"> 
                            <div class="form-group col-md-6">
                                    <label>Nombre del producto:</label>
                                    <input type="text" class="form-control" v-model = "form.nombre_producto">
                            </div>
                            <div class="form-group col-md-6">
                                    <label>Ingredientes:</label>
                                    <textarea type="text" class="form-control" v-model = "form.ingredientes"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                    <label>Imagen:</label>
                                    <input type="file" @change = "uploadFile" >
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return{
            form: {
                nombre_producto: '',
                imagen:'',
                ingredientes:''
            },
            usuario: []
        }
    }, 
    mounted(){
        this.autenticado()
    },
    methods:{
        uploadFile(event) {
            this.form.imagen = event.target.files[0];
        //  this.oferta.image = event.file;
        },
        autenticado(){
            axios.get('http://127.0.0.1:8000/api/users/auth',{ headers: { 'Authorization': 'Bearer ' + localStorage.getItem('token') } })
            .then(response => {
                this.usuario =response.data
            })
        },
        guardarProducto(form){
             var formData = new  FormData();
                formData.append('imagen', this.form.imagen);
                formData.append('nombre_producto',this.form.nombre_producto);
                formData.append('ingredientes',this.form.ingredientes);

            axios.post('http://127.0.0.1:8000/api/productos/'+this.usuario.id,formData)
                 .then(response => {
                     console.log(response.data)
                 })
        }
    }
}
</script>

<style>

</style>