<template>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-3 mt-3">
                <div class="card-body">
                        <legend>Ingresar</legend>
                        <form @submit.prevent = "ingresar(form)"> 
                            <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="text" class="form-control" v-model = "form.email">
                            </div>
                            <div class="form-group col-md-6">
                                    <label>Contraseña:</label>
                                    <input type="password" class="form-control" v-model = "form.password">
                            </div>
                            <button type="submit" class="btn btn-primary">Ingresar</button>
                            <router-link  :to="{name: 'register'}" >registrate</router-link>
                            
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return{
            form:{
                email: '',
                password: ''
            }
        }
    },
    methods:{
        ingresar(form){
            axios.post('http://127.0.0.1:8000/api/users/login', form)
                .then(response => {
                    console.log(response.data)
                    localStorage.setItem('token',response.data.token)
                    this.$router.push('/admin_panel')
                })
        }
    }
}
</script>

<style>

</style>