<template>
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Empaque</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(pedido,index) in pedidos" :key="index">
                    <td>{{pedido.nombre_producto}}</td>
                    <td>{{pedido.cantidad}}</td>
                    <td>{{pedido.empaque}}</td>
                    <td>{{pedido.estado}}</td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
import EventBus from '../event-bus';
export default {
    data(){
        return{
            pedidos: [],
        }
    },
    created(){
        EventBus.$on('pedido', data => {
            console.log('aquii')

            console.log(data)
            this.pedidos.unshift(data)
        })
    },
    mounted(){
        this.traerPedidos()
        
    },
    methods: {
        traerPedidos(){
            axios.get('http://127.0.0.1:8000/api/pedidos_productos')
            .then(response => {
                console.log(response.data)
                this.pedidos = response.data
            })
        }
    }
}
</script>

<style>

</style>