<template>
<div class="container">
    <router-link class="btn btn-primary subir" :to="{name: 'pre_pedido'}" >Terminar</router-link>
                            
    <div class="row justify-content-center">
        <div class="col-md-4"  v-for="(producto,index) in productos" :key="index">
            <div class=" card mb-3 mt-3 " >
                <img style="height: 100px; width: 100px; background-color: #EFEFEF; margin: 20px;" 
                class="rounded-circle mx-auto d-block" :src="'http://http://127.0.0.1:8000/storage/public' + producto.imagen">
                <p class="card-text text-center"><span class="font-weight-bold">{{producto.nombre_producto}}</span></p>
                <div class="card-body">
                    <p class="text-center"><span class="font-weight-bold">{{producto.ingredientes}}</span></p>
                            <div class="modal fade" :id="'drop'+producto.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <p><span class="font-weight-bold modal-title">Producto: </span>{{producto.nombre_producto}}</p>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                        <form @submit.prevent = "hacerPedido(pedido, producto.id)">
                                            <div class="modal-body">
                                                <p><span class="font-weight-bold">¿Alguna observación o ingrediente extra?: </span></p>
                                                <textarea type="text" class="col-md-10 form-control" v-model = "pedido.observaciones"></textarea>
                                                
                                                <p><span class="font-weight-bold">Cantidad: </span></p>

                                                <div class="form-inline mt-2 mt-md-0">
                                                    <button type="button" @click = "decrementar" class="btn btn-secondary" ><i class="fas fa-minus"></i></button>
                                                        <input type="number"   class="col-md-2 form-control bordes" v-model = "pedido.cantidad">
                                                    <button type="button" @click = "incrementar" class="btn btn-secondary" ><i class="fas fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Agregar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" data-toggle="modal" :data-target="'#drop'+producto.id">
                    Pedir
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import EventBus from '../event-bus';
export default {
    props: ['pedidoP'],
    data(){
        return{
            productos: [],

            pedido:{
                cantidad: 0,
                observaciones: ''
            },
            modal: ''
        }
    },
    mounted(){
        this.cargarProductos()
    },
    methods:{
        cargarProductos(){
            axios.get('http://127.0.0.1:8000/api/productos')
            .then(response => {
                this.productos = response.data;
            })
        },
        hacerPedido(pedido,idproducto){
            axios.post('http://127.0.0.1:8000/api/pedidos/'+this.pedidoP+'/productos/'+ idproducto, pedido)
            .then(response => {
                console.log(response.data)
                this.pedido.cantidad = 0
                this.pedido.observaciones = ''
                this.modal = '#drop'+ idproducto
                EventBus.$emit('pedido', response.data)
                $(this.modal).modal('hide')
            })
        },
        incrementar(){
            this.pedido.cantidad++
        },
        decrementar(){
            this.pedido.cantidad--
        }
    }
}
</script>

<style>
 .bordes {
     margin-right: 5px;
     margin-left: 5px;
 }
 body {
  font-family: 'Helvetica','Verdana','Monaco',sans-serif;
  font-size: 1rem;
}
.subir {
    margin-top: 5px;
}
</style>