<template>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-3 mt-3">
                <div class="card-body">
                    <legend>Realiza tu pedido!</legend>
                    <form @submit.prevent = "guardarPedido(form)">
                        <div class="form-group col-md-6">
                            <p class="text-center">¿Como quieres que se llame tu pedido?</p>
                            <input type="text" class="form-control" v-model = "form.nombre_pedido">
                        </div>
                        <div class="form-group col-md-6">
                            <p class="text-center">¿Es para llevar o comer acá?</p>
                            <select class="form-control" v-model = "form.empaque">
                                    <option selected>Seleccione...</option>
                                    <option>Para llevar</option>
                                    <option>Para comer acá</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Seleccionar Productos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                nombre_pedido: '',
                empaque: '',
                estado: 'En espera'
            }
        }
    },
    methods: {
        guardarPedido(form){
            axios.post('http://127.0.0.1:8000/api/pedidos',form)
            .then(response => {
                console.log(response.data)
                this.$router.replace({name: 'pedido',  params: {pedidoP: response.data.id}})
            })
        }
    }
}
</script>

<style>

</style>