<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mb-3 mt-3">
                <div class="card-body">
                    <legend>Registrar FoodTruck</legend>
                        <form @submit.prevent = "crearFoodTruck(form)"> 
                            <div class="form-group col-md-6">
                                    <label>Nombre del FoodTruck:</label>
                                    <input type="text" class="form-control" v-model = "form.name">
                            </div>
                            <div class="form-group col-md-6">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" v-model = "form.email">
                            </div>
                            <div class="form-group col-md-6">
                                    <label>Contraseña:</label>
                                    <input type="password" class="form-control" v-model = "form.password" >
                            </div>
                            <div class="form-group col-md-6">
                                    <label>Logo:</label>
                                    <input type="file" @change = "uploadFile" >
                            </div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data(){
        return{
            form:{
                name: '',
                email: '',
                password: '',
                imagen: ''
            }
        }
    },
    methods:{
        uploadFile(event) {
            this.form.imagen = event.target.files[0];
        //  this.oferta.image = event.file;
        },
        crearFoodTruck(form){
            var formData = new  FormData();
                formData.append('imagen', this.form.imagen);
                formData.append('name',this.form.name);
                formData.append('password',this.form.password);
                formData.append('email',this.form.email);

            axios.post('http://127.0.0.1:8000/api/users/register',formData)
            .then(response => {
                console.log(response.data)
                this.$router.replace('/admin_panel')
            })
        }
    }
}
</script>

<style>

</style>